<style>
  .animate-charcter
 {
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #f27030 0%,
     #f27030 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 20px;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 } 
 </style>
 <a href="/registrardataencoder/dashboard" class="brand-link">
     <img src="../../../dist/img/logoselam.jpg" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
     <span class="brand-text font-weight-hard" style="color: #f27030;"><h3 class="animate-charcter">SELAM TVC LMS</h3></span>
   </a>
  <!-- Sidebar -->
  <div class="sidebar sidebar-dark-primary">
    <!-- Sidebar user panel (optional) -->
   

    <!-- SidebarSearch Form -->
  

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item ">
          <a href="/registrardataencoder/dashboard" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            
            </p>
          </a>
        
        </li>
   
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Manage New Programs
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/registrardataencoder/programs/newlevelbased" class="nav-link">
              
                <p>New Level Based</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrardataencoder/programs/newngobased" class="nav-link">
            
                <p>New Short Term/Project/ Based</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrardataencoder/programs/newindustrybased" class="nav-link">
       
                <p>New Industry Driven</p>
              </a>
            </li>
          
          
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-user"></i>
            <p>
              Manage Applicants
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/registrardataencoder/applicant/addnewapplicant" class="nav-link">
              
                <p>Add Applicants</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrardataencoder/applicant/updateapplicantinfo" class="nav-link">
              
                <p>Update Applicants</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrardataencoder/applicant/filterapplicant" class="nav-link">
              
                <p>Filter Applicants</p>
              </a>
            </li>
          
          
          </ul>
        </li>
       
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-clipboard"></i>
            <p>
              Level Based Registration
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
           
            <li class="nav-item">
              <a href="/registrardataencoder/registration/newlevelbasedregistration" class="nav-link">
              
                <p> New Level Based </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrardataencoder/registration/existedlevelbasedtraineecontinuestudy" class="nav-link">
              
                <p>Existed Level Based(Continue)</p>
              </a>
            </li>
           
         
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-clipboard"></i>
            <p>
              Short Term Registration
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
           
            <li class="nav-item">
              <a href="/registrardataencoder/registration/newngobasedregistration" class="nav-link">
              
                <p>New Short Term/Project/ Based </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrardataencoder/registration/newindustrydrivenregistration" class="nav-link">
              
                <p>New Industry Based </p>
              </a>
            </li>
         
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>
              Manage  Trainee
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
           
            <li class="nav-item">
              <a href="/registrardataencoder/trainee/managelevelbased" class="nav-link">
              
                <p>Level Based </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrardataencoder/trainee/managengobased" class="nav-link">
              
                <p>Short Term/Project/ Based </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrardataencoder/trainee/manageindustrybased" class="nav-link">
              
                <p>Industry Based </p>
              </a>
            </li>
 <li class="nav-item">
              <a href="/registrardataencoder/registration/graduatedtraineetococdb" class="nav-link">
              
                <p>Update COC Result</p>
              </a>
            </li>           
              <li class="nav-item">
                <a href="/registrardataencoder/registration/graduatedtraineetojbsdb" class="nav-link">
                
                  <p>Send Trainee To JBS DB</p>
                </a>
              </li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-cubes"></i>
            <p>
              Manage Class
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/registrardataencoder/classmanage/addnewclass" class="nav-link">
              
                <p>Add New Class</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrardataencoder/classmanage/allclasslist" class="nav-link">
              
                <p>All Class List</p>
              </a>
            </li>
          
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
              Manage Companies
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/registrardataencoder/company/addnewcompany" class="nav-link">
              
                <p>Add Company</p>
              </a>
            </li>
          
            <li class="nav-item">
              <a href="/registrardataencoder/company/allcompanylist" class="nav-link">
              
                <p>All Companies List</p>
              </a>
            </li>
          
          </ul>
        </li>
       
      
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa	 fa-address-card"></i>
            <p>
             Manage Staff
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/registrardataencoder/staff/addnewstaff" class="nav-link">
             
                <p>Add Staff</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrardataencoder/staff/allstafflist" class="nav-link">
           
                <p>All Staff List</p>
              </a>
            </li>
            </ul>
        </li>
        <li class="nav-item">
          <a href="/registrardataencoder/changepassword" class="nav-link">
            <i class="nav-icon  fa fa-key"></i>
            
              <p>Change Password</p>
            
          </a>
          </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
