<a href="/dashboard" class="brand-link">
    <img src="../../../dist/img/logoselam.png" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-hard" style="color: #f27030;"><b>SELAM TVC LMS</b></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
   

    <!-- SidebarSearch Form -->
  

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item ">
          <a href="/dashboard" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            
            </p>
          </a>
        
        </li>
   
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Manage Trainings
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/training/addlevelbased" class="nav-link">
              
                <p>Add Level Based</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/training/addngobased" class="nav-link">
            
                <p>Add NGO Based</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/training/addindustrybased" class="nav-link">
       
                <p>Add Industry Driven</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/training/alltraineelist" class="nav-link">
             
                <p>All Training List</p>
              </a>
            </li>
          
          </ul>
        </li>
       
       
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-archive"></i>
            <p>
              Manage Department
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dept/addnewdepartment" class="nav-link">
            
                <p>Add New Department</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dept/alldepartmentlist" class="nav-link">
              
                <p>All Department List</p>
              </a>
            </li>
          
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-clipboard"></i>
            <p>
              Manage Course
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/course/addnewcourse" class="nav-link">
              
                <p>Add New Course</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/course/allcourselist" class="nav-link">
              
                <p>All Course List</p>
              </a>
            </li>
          
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon  fa fa-database"></i>
            <p>
              Manage Data
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
          
            <li class="nav-item">
              <a href="/datalist/alldatahistory" class="nav-link">
              
                <p>Data Log</p>
              </a>
            </li>
          
          </ul>
        </li>
        <li class="nav-item">
          <a href="/notifications" class="nav-link">
            <i class="nav-icon fas fa-bell"></i>
            <p>
              Notifications
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
      
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-cogs"></i>
            <p>
             Settings
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/addselectcriteria" class="nav-link">
             
                <p>Add Selection Criteria</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/addnewfunder" class="nav-link">
           
                <p>Add Program Funder</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/addnewsystemuser" class="nav-link">
             
                <p>Create System User</p>
              </a>
            </li>
          
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>