<style>
 .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #f27030 0%,
    #f27030 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
} 
</style>
<a href="/registrar/dashboard" class="brand-link">
    <img src="../../../dist/img/logoselam.jpg" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-hard" style="color: #f27030;"><h3 class="animate-charcter">SELAM TVC LMS</h3></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar sidebar-dark-primary">
    <!-- Sidebar user panel (optional) -->
   

    <!-- SidebarSearch Form -->
  

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item ">
          <a href="/registrar/dashboard" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            
            </p>
          </a>
        
        </li>
   
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Manage New Programs
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/registrar/programs/newlevelbased" class="nav-link">
              
                <p>New Level Based</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrar/programs/newngobased" class="nav-link">
            
                <p>New Short Term /Project/ Based</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrar/programs/newindustrybased" class="nav-link">
       
                <p>New Industry Driven</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrar/programs/allbatchlist" class="nav-link">
       
                <p>All Batch List</p>
              </a>
            </li>
          
          </ul>
        </li>
      
       
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-cubes"></i>
            <p>
              Manage Section
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
           
            <li class="nav-item">
              <a href="/registrar/classmanage/allclasslist" class="nav-link">
              
                <p>All Section List</p>
              </a>
            </li>
          
          </ul>
        </li>
     
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa	 fa-address-card"></i>
            <p>
             Manage UOCs
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
         
            <li class="nav-item">
              <a href="/registrar/course/allcourselist" class="nav-link">
           
                <p>Level Based UOC </p>
              </a>
            </li>
            </ul>
            <ul class="nav nav-treeview">
         
              <li class="nav-item">
                <a href="/registrar/course/allngocourselist" class="nav-link">
             
                  <p>Short Term/Project/ Based UOC </p>
                </a>
              </li>
              </ul>
              <ul class="nav nav-treeview">
         
                <li class="nav-item">
                  <a href="/registrar/course/allindustrycourselist" class="nav-link">
               
                    <p>Industry Based UOC </p>
                  </a>
                </li>
                </ul>
            <ul class="nav nav-treeview">
         
              <li class="nav-item">
                <a href="/registrar/course/uoctrainerlist" class="nav-link">
             
                  <p> UOC Trainer List</p>
                </a>
              </li>
              </ul>
        </li>
        
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
              Manage Companies
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
         
          
            <li class="nav-item">
              <a href="/registrar/company/allcompanylist" class="nav-link">
              
                <p>All Companies List</p>
              </a>
            </li>
          
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa	 fa-address-card"></i>
            <p>
             Manage Application
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
         
            <li class="nav-item">
              <a href="/registrar/applicant/allapplicantlist" class="nav-link">
           
                <p>All Application List</p>
              </a>
            </li>
            </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa	 fa-address-card"></i>
            <p>
             Manage Trainee
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
         
            <li class="nav-item">
              <a href="/registrar/trainee/alltraineelist" class="nav-link">
           
                <p>All Trainee List</p>
              </a>
            </li>
            </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa	 fa-address-card"></i>
            <p>
             Manage Staff
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
         
            <li class="nav-item">
              <a href="/registrar/staff/allstafflist" class="nav-link">
           
                <p>All Staff List</p>
              </a>
            </li>
            </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa	 fa-user"></i>
            <p>
             Manage Data Encoders
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
         
            <li class="nav-item">
              <a href="/registrar/createdataencoder" class="nav-link">
           
                <p>Create Data Encoder</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrar/alldataencoderlist" class="nav-link">
           
                <p>All Data Encoder List</p>
              </a>
            </li>
            </ul>
        </li>
        
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon 	fas fa-chart-line"></i>
            <p>
             Report And Stastics
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/registrar/report" class="nav-link">
             
                <p>Report</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/registrar/statistics" class="nav-link">
           
                <p>Statistics</p>
              </a>
            </li>
          
          
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
